@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  header,
  form,
  button,
  a {
    display: none !important;
  }
  main {
    max-width: none !important;
    padding: 0 !important;
  }
}
